@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model BlogProject.Models.VM.AdminUserVM

<div class="form-horizontal">
    <h4>Edit New Category</h4>
    <hr />

    <form action="/AdminUser/Edit/@Model.Id" method="post">
        @Html.HiddenFor(q => q.Id)
        <div class="form-group">
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">E-Mail</label>
                @Html.TextBoxFor(q => q.Email, new { @class = "form-control", @id = "formGroupExampleInput" })
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Password</label>
                @Html.TextBoxFor(q => q.Password, new { @class = "form-control", @id = "formGroupExampleInput" })
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Confirm Password</label>
                @Html.TextBoxFor(q => q.ConfirmPassword, new { @class = "form-control", @id = "formGroupExampleInput" })
            </div>
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>