@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="form-horizontal">
    <h4>Yeni kategori Oluştur</h4>
    <hr />
    
    <div class="form-group">
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Name</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Buraya yazın..">
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Tarih</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Buraya yazın..">
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Felsefe</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Buraya yazın..">
        </div>
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Kaydet" class="btn btn-primary" />
        </div>
    </div>
</div>